body{
    background-color: black;
    font-family: Arial, sans-serif;
    margin: 20px;
}

h1{
    background-color: goldenrod;
    color: white; 
    text-align: center;
    text-decoration: underline;
    border-radius: 20px;
}

h2{
    color: white;
    text-decoration: underline; 
}

a{
    color: white;
}

a:hover{
    background-color: white;
    color: black;
}

ul{
    background-color: goldenrod;
    color: white;
}
