body{
    background-color: black;
    font-family: Arial, sans-serif;
    margin: 20px;
}

h1{
    color: white; 
    text-align: center;
    background-color: goldenrod;
}

h2{
    color: white; 
}

a{
    color: white;
}

a:hover{
    background-color: purple;
}

ul{
    color: aliceblue;
}
