.block1{
    background-color: red;
    float: left;
    height: 200px;
    width: 200px;
    margin: 10px;
}

.block2{
    background-color: goldenrod;
    float: right;
    height: 200px;
    width: 200px;
    margin-left: 10px;
}

.block3{
    background-color: purple;
    height: 200px;
    width: 200px;
    margin-left: 20px;
    clear: both;
}

body{
    background-color: black;
}

p{
    color: white;
}

a{
    color: aqua;
}