body{
    background-color: black;
    font-family: Arial, sans-serif;
    margin: 20px;
    color: white;
    padding: 20px;
}

h1{
    color: goldenrod; 
    text-align: center;
}

h2{
    color: black;  
}

h3{
    color: black;
}

p{
    color: green;
}

.f{
    color: red;
}


form{
    background-color: white;
    padding: 20px;
    max-width: 600px;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

table{
    width: 100%;
    border-collapse: collapse;
}


a {
    color: white;
}

a:hover {
    background-color: goldenrod;
}