a{
    color: aqua;
}

body{
    background-color: black;
}

p{
    color: white;
}

.p3{
    color: brown;
}

.c1{
    background-color: blue;
}

.c2{
    background-color: greenyellow;
}

.c3{
    background-color: yellow;
}