body{
    background-color: black;
}

a{
    background-color: aliceblue;
}

a:hover{
    background-color: goldenrod;
    color: white;
}

iframe{
    background-color: goldenrod;
}

h1{
    background-color: white;
    color: black;
    border-radius: 20px;
    text-decoration: underline;
}

h2{
    color: white;
}