body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0px;
    padding: 0px;
    background-color: black;
}
nav{
    width: 100%;
    background-color: #424558;
}
nav > ul{
    margin: 0px;
    padding: 0px;
}
nav li{
    list-style-type: none;
}
nav > ul > li{
    float: left;
    position: relative;
}
.submenu{
    display: none;
}
nav input[type=checkbox]{
    display: none;
}
.menu-mobile{
    display: none;
}
nav > ul::after{
    content: "";
    display: table;
    clear: both;
}
nav a{
    display: inline-block;
    text-decoration: none;
}
nav > ul > li > a{
    padding: 20px 30px;
    color: #fff;
}

nav li:hover .submenu{
    display: inline-block;
    position: absolute;
    top: 100%;
    left: 0px;
    padding: 0px;
    z-index: 100000;
}
.submenu li{
    border-bottom: 1px solid #ccc;
}

.submenu li a{
    padding: 15px 30px;
    font-size: 13px;
    color: #222538;
    width: 270px;
}
.menu-html:hover{
    border-top: 5px solid #e44d26;
    background-color: rgba(228, 77, 38, 0.15);
}

.menu-base:hover{
    border-top: 5px solid #0070bb;
    background-color: rgba(000, 112, 192, 0.15);
}

.menu-js:hover{
    border-top: 5px solid #f1dc4f;
    background-color: rgba(241, 211, 79, 0.15);
}

.menu-php:hover{
    border-top: 5px solid #8dee70;
    background-color: rgba(0, 192, 58, 0.15);
}

.menu-mission:hover{
    border-top: 5px solid #ebabab;
    background-color: rgba(236, 165, 144, 0.15)
}

.menu-certif:hover{
    border-top: 5px solid #bbb;
    background-color: rgba(220, 220, 220, 0.15);
}

.menu-index:hover{
    border-top: 5px solid #4909c0;
    background-color: rgba(220, 220, 220, 0.15);
}

nav > ul > li:hover a{
    padding: 15px 30px 20px 30px;
}

.menu-html .submenu{
    background-color: rgb(230, 100, 40);
}

.menu-base .submenu{
    background-color: rgb(000, 160, 240);
}

.menu-js .submenu{
    background-color: rgb(251, 216, 99);
}

.menu-php .submenu{
    background-color: rgb(100, 216, 99);
}

.menu-mission .submenu{
    background-color: rgb(251, 216, 200);
}

.submenu li:hover a{
    color: #eee;
    font-weight: bold;
}

.menu-html .submenu li:hover{
    background-color: rgb(210, 77, 60);
}

.menu-css .submenu li:hover{
    background-color: rgb(000, 115, 200);
}

.menu-js .submenu li:hover{
    background-color: rgb(200, 165, 75);
}

nav input[type=checkbox]:checked ~ ul{
    display: block;
}

@media screen and (max-width : 680px) {
    .menu-mobile{
        display: block;
        color: #fff;
        background-color: rgba(29, 197, 151, 0.97);
        text-align: center;
        padding: 12px 0;
    }
    nav ul{
        display: none;
    }
}

nav ul li, nav ul li a{
    width: 100%;
    text-align: center;
}

nav ul li a, nav ul li:hover a{
    padding: 10px 0px 10px 0px;
}

nav li:hover .submenu{
    display: block;
    position: static;
}
